{% extends "layout/base.html" %}

{% block title%}Расчет стоимости{% endblock %}

{% block content %}
    <section id="intro">
        <div class="container">
            <div class="intro-text">
                <div class="to_know_price">
                    <h4>Заявка на оказание услуги</h4>
                </div>
                <div class="form">
                    <form method="post">{% csrf_token %}
                        <div class="form-group form-item1">
                            <div class="labell"><label>Имя и фамилия: </label></div>
                            <div class="form-padding">{{ form.name }}</div>
                        </div>
                        <div class="form-group form-item1">
                            <div class="labell"><label>Номер телефона: </label></div>
                            <div class="form-padding">{{ form.tel }}</div>
                        </div>
                        <div class="form-group form-item1">
                            <div class="labell"><label>E-mail: </label></div>
                            <div class="form-padding">{{ form.e_mail }}</div>
                        </div>
                        <div class="form-group form-item1">
                            <div class="labell"><label>Модель автомобиля: </label></div>
                            <div class="form-padding">{{ form.car }}</div>
                        </div>
                        <div class="form-group form-item1">
                            <div class="labell"><label>Тип автомобиля: </label></div>
                            <div class="form-padding">{{ form.type }}</div>
                        </div>
                        <div class="form-group form-item1">
                            <div class="labell"><label>Тип услуги: </label></div>
                            <div class="form-padding">{{ form.service }}</div>
                        </div>
                        <div class="form-group form-item1">
                            <div class="labell"><label>Дата оказания услуги: </label></div>
                            <div class="form-padding">{{ form.date_service }}</div>
                        </div>
                        <div class="button1">
                            <button type="submit" class="custom_btn">Отправить заявку</button>
                        </div>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </section>
{% endblock %}