{% extends "layout/base.html" %}

{% block title%}Расчет стоимости{% endblock %}

{% block content %}
    <section id="intro">
        <div class="container">
            <div class="intro-text">
                <div class="to_know_price">
                    <h2>Узнать стоимость</h2>
                </div>
                <div class="form">
                    <form method="get">{% csrf_token %}
                        <div class="form-group form-item1">
                            <div class="labell"><label>Модель автомобиля: </label></div>
                            <div class="form-padding">{{ form.car }}</div>
                        </div>
                        <div class="form-group form-item1">
                            <div class="labell"><label>Вид услуги: </label></div>
                            <div class="form-padding">{{ form.service }}</div>
                        </div>
                        <div class="lll">
                            <input type="submit" value="Рассчитать сумму" class="btn-primary">
                        </div>
                    </form>
                </div>
                <br>
                <div class="calculated_price">
                    <label>{{ price }}</label>
                </div>
            </div>
        </div>
    </section>
{% endblock %}