{% extends "layout/base.html" %}

{% block title%}Расчет стоимости{% endblock %}

{% block content %}
    <div class="intro-text">
        <div class="to_know_price">
            <h2>Узнать стоимость</h2>
        </div>
        <div class="form">
            <form method="get">{% csrf_token %}
                <div class="form-group form-item1">
                    <label>Модель автомобиля: </label>
                    {{ form.car }}
                </div>
                <div class="form-group form-item2">
                    <label>Вид услуги: </label>
                    {{ form.service }}
                </div>
                <div class="button1">
                    <input type="submit" value="Рассчитать сумму">
                </div>
            </form>
        </div>
        <br>
        <div class="calculated_price">
            {{ price }}
        </div>
    </div>
{% endblock %}