{% extends "layout/base.html" %}
{% load static %}

{% block content %}
    <section id="intro">

        <div class="container">
            <div class="intro-text">
                <div>
                    <br>
                    <h2>{{ content }}</h2>
                    <br><br><br>
                    <h4>Качественные услуги по приемлемой цене!</h4>
                    <br>
                    <h5>Записывайтесь онлайн или звоните по телефону</h5>

                </div>
            </div>
        </div>
    </section>
    <section id="more-features">
        <div class="container">
            <div class="intro-text">
                <div class="section-header">
                    <h3 class="section-title">Список услуг автомойки</h3>
                    <span class="section-divider"></span>
                </div>
                <div class="row">
                    {% for service in services %}
                        <div class="col-lg-6">
                            <div class="box">
                                <h4 class="title">{{ service.service }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row" data-aos="fade-up">
                <div class="lol">
                    <div class="feedback-title">
                        <h4>Оставьте нам, пожалуйста, свой отзыв!</h4>
                    </div>
                    <div class="form">
                        <form method="post">{% csrf_token %}
                            <div class="loll">
                            <div class="form-group form-item1">
                                <div class="labelll"><label>Имя и фамилия: </label></div>
                                <div class="form-padding">{{ form.name }}</div>
                            </div>
                            <div class="form-group form-item1">
                                <div class="labelll"><label>E-mail: </label></div>
                                <div class="form-padding">{{ form.e_mail }}</div>
                            </div>
                            <div class="form-group form-item1">
                                <div class="labelll"><label>Оценка(по шкале от 1 до 10): </label></div>
                                <div class="form-padding">{{ form.rating }}</div>
                            </div>
                            <div class="form-group form-item1">
                                <div class="labellll"><label>Ваш отзыв: </label></div>
                                <div class="form-padding1">{{ form.feedback }}</div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="custom_btn">Отправить заявку</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #contact -->
{% endblock %}